<div class="slider mb-3">
  <ul class="slides">
    <li>
      <%= image_tag 'contrail-info.jpg' %>
    </li>
    <li>
      <%= image_tag 'contrail-info-3.jpg' %>
    </li>
    <li>
      <%= image_tag 'contrail-info-2.jpg' %>
    </li>
    <li>
      <%= image_tag 'contrail-info-1.jpg' %>
    </li>
  </ul>
</div>

<%= render 'microposts/latest_post' %>