<% if @feed.any? %>
  <% @feed.each do |micropost| %>
    <div class="card mb-2">
      <% if micropost.image.url %>
        <%= image_tag micropost.image.to_s, class: "card-img-top", alt: "投稿画像" %>
      <% end %>
      <div class="card-body">
        <h6 class="card-title">
          <% if micropost.restaurant %>
            <small class="text-muted"><%= micropost.restaurant %></small>
          <% end %>
        </h6>
        <p class="card-text">
          <%= micropost.content %>
        </p>
        <p class="card-text">
          <small class="text-muted">
            <i class="fas fa-heart fa-lg liked-heart"></i>
              <%= micropost.liked_users.count %> <small class="text-muted">いいねの数</small>
            <%= link_to 'Show', micropost %>
            <%= link_to 'Destroy', micropost, method: :delete, data: { confirm: '削除してよろしいですか?' } %>
          </small>
        </p>
      </div>
    </div>
  <% end %>
  <%= paginate @feed %>
  <%= render 'microposts/modal' %>
<% else %>
    <%= render 'microposts/modal' %>
<% end %>
