<% provide(:title, "ホーム") %>

<% @microposts.each do |micropost| %>
  <div class="card">
    <% if micropost.image.url %>
      <%= image_tag micropost.image.to_s, class: "card-img-top" %>
    <% end %>
    <div class="card-body">
      <h6 class="card-title">
        <% if micropost.restaurant %>
          <small class="text-muted"><%= micropost.restaurant %></small>
        <% end %>
      </h6>
      <p class="card-text">
        <%= micropost.content %>
      </p>
      <p class="card-text">
        <small class="text-muted">
          <%= link_to 'Show', micropost %>
          <%= link_to 'Destroy', micropost, method: :delete, data: { confirm: 'Are you sure?' } %>
          <i class="fas fa-heart fa-fw liked-heart"></i>
          <%= micropost.liked_users.count %><small class="text-muted">いいねの数</small>
        </small>
      </p>
    </div>
  </div>
<% end %>
<%= paginate @microposts %>

<%= render 'microposts/modal' %>




