<div>
  <div class="mb-5">
    <%= render 'comments/content', comments: @comments %>
  </div>

  <%= form_with model: [@micropost, @comment] do |f| %>
    <%= f.hidden_field :micropost_id %>
    <div class="d-flex flex-row">
      <%= f.text_area :content, class: "rounded-sm comment-area", placeholder: "コメントを送信.." %>
      <%= f.submit '送信', class: "btn btn-outline-secondary rounded-sm ml-1 btn-comment" %>
    </div>
  <% end %>
</div>
