<% provide(:title, 'ログインページ') %>

<h1 class="h5 mt-3 mb-3 font-weight-bold text-center">ログイン</h1>
    <div class="signin-page mx-auto col-md-8">
      <div class="mt-5">
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

          <div class="field mb-4">
            <%= f.email_field :email, placeholder: "メールアドレス", autocomplete: "email", required: true, class: "form-control rounded-sm w-100 pl-3" %>
          </div>

          <div class="field mb-2">
            <%= f.password_field :password, placeholder: "パスワード", required: true, class: "form-control rounded-sm w-100 pl-3" %>
          </div>

          <div class="field remember-box mb-5">
            <% if devise_mapping.rememberable? %>
                <%= f.check_box :remember_me %>
                <%= f.label :remember_me %>
            <% end %>
          </div>

          <%= f.submit "ログイン", class: "btn signin-btn btn-outline-dark rounded-sm w-100 mb-3" %>

          <%= link_to "ゲストログイン", users_guest_sign_in_path, class: "signin-btn text-decoration-none btn btn-outline-dark rounded-sm w-100 mb-3", method: :post %>
        <% end %>

        <%# <%= link_to "メールが届きませんか?", new_confirmation_path(resource_name), class: "no-confirm text-decoration-none mb-5" %>

          <%- if devise_mapping.registerable? && controller_name != 'registrations' %>
            <%= link_to "新規アカウントを作成", new_registration_path(resource_name), class: 'btn btn-dark rounded-sm w-100 mt-5' %>
          <% end %>
        </div>
      </div>
    </div>





