<div class="chef-info mb-5">
  <div class="top-info mx-auto">
    <div class="chef-info-text">お店からのお知らせ</div>
  </div>
</div>

<% if @chef.any? %>
  <div class="row mb-2">
    <% @chef.each do |chef| %>
      <div class="card-group col-md-4 mx-auto">
        <div class="card hoverable mb-2">
          <% if chef.image.url %>
            <%= link_to image_tag(chef.image.to_s, class: "card-img-top", alt: "投稿画像"), chef %>
          <% end %>
          <div class="card-body">
            <div class="post-user">
              <% if chef.user.avatar? %>
                <%= link_to image_tag(chef.user.avatar.to_s, size: "40x40", class: "post-avatar rounded-circle mb-3", alt: "avatar image"), chef.user %>
              <% else %>
                <%= link_to image_tag('no_avatar.png', size: "40x40", class: "post-avatar rounded-circle mb-3", alt: "avatar image"), chef.user %>
              <% end %>
              <%= link_to chef.user.name, chef.user, class: "post-avatar post-name text-dark" %>
              <% if chef.address %>
                <small class="post-address ml-2"><%= chef.address %></small>
              <% end %>
            </div>
            <div class="post-content ml-2 mt-1 mb-4">
              <%= link_to chef.comment, chef, class: "text-decoration-none text-dark" %>
            </div>
            <div class="mt-2">
              <%= render 'microposts/tag_list', tag_list: chef.tag_list %>
            </div>
            <div class="d-flex mt-2">
              <div class="ml-2" id="chefB-<%= chef.id %>">
                <%= render "marks/mark", chef: chef %>
              </div>
              <div class="ml-auto"><small class="text-muted float-right"><%= chef.created_at.strftime('%m/%d %H:%M') %></small></div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
<% end %>
<%= paginate @chef %>

<%= render 'chefs/modal' %>
