<div class="container mt-4 mx-auto">
  <div class="row">
    <div class="col-lg-6">
      <% if @chef.user.avatar? %>
        <%= link_to image_tag(@chef.user.avatar.to_s, size: "40x40", class: "rounded-circle mb-3", alt: "avatar image"), @chef.user %>
      <% else %>
        <%= link_to image_tag('no_avatar.png', size: "40x40", class: "rounded-circle mb-3", alt: "avatar image"), @chef.user %>
      <% end %>
      <%= link_to @chef.user.name, @chef.user, class: "text-dark post-name" %>
      <% if @chef.address %>
        <small class="post-detail-address ml-2"><%= @chef.address %></small>
      <% end %>
      <div class="card mb-1">
        <% if @chef.image.url %>
          <%= image_tag @chef.image.url, class: "card-img-top", alt: "投稿画像" %>
        <% end %>
      </div>
    </div>
    <div class="col-lg-5 mt-3">
      <%# タブ %>
      <div class="row text-center">
        <ul class="nav nav-tabs no-gutters mx-auto mb-2" id="pills-tab" role="tablist">
          <li class="nav-item" role="presentation">
            <a href="#item1" id="posts-tab" class="nav-link user-tabs active" role="tab" data-toggle="tab" aria-controls="item1" aria-selected="true">投稿</a>
          </li>
          <li class="nav-item" role="presentation">
            <a href="#item2" id="comments-tab" class="nav-link user-tabs" role="tab" data-toggle="tab" aria-controls="item2" aria-selected="false">コメント</a>
          </li>
        </ul>
      </div>
      <%# 投稿パネル %>
      <div class="tab-content tab-post" id ="pills-tabContent">
        <div id="item1" class="tab-pane active" role="tabpanel" aria-labelledby="posts-tab">
          <div class="card p-3">
            <div class="card-body">
              <div class="d-flex flex-column post-content ml-2 mb-4">
                <div class="mt-4">
                  <span class="post-detail-content"><%= @chef.comment %></span>
                </div>
                <div class="mt-2">
                  <%= render 'microposts/tag_list', tag_list: @chef.tag_list %>
                </div>
              </div>
              <div class="post-info d-flex flex-row mt-2">
                <%# <div id="micropost-<%= @chef.id %>
                  <%# <%= render "likes/like", micropost: @micropost %>
                <%# </div> %>
                <div class="ml-2" id="chefB-<%= @chef.id %>">
                <%= render "marks/mark", chef: @chef %>
                </div>
                <% if current_user.id == @chef.user.id || current_user.admin? %>
                  <div class="gray darken-4 ml-auto"><%= link_to '削除', chef_path(@chef), method: :delete, data: { confirm: '削除してよろしいですか？' }, class: "btn grey darken-4" %></div>
                <% end %>
              </div>
            </div>
          </div>
        </div>
        <%# コメントパネル %>
        <div id="item2" class="tab-pane" role="tabpanel" aria-labelledby="comments-tab">
          <div class="card pb-2 p-4">
            <%= render 'comments/form', micropost: @micropost, group: @comments %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="mt-3 post-detail-map container">
  <%= render 'microposts/show_map', object: @chef %>
</div>
