<% if user_signed_in? && user != current_user %>
  <div class="follow-btn_<%= user.id %>">
    <% if current_user.following?(user) %>
      <%# フォロー解除 %>
      <%= form_for(current_user.active_relationships.find_by(followed_id: user.id),
          method: :delete, remote: true) do |f| %>
        <%= f.submit "フォロー中", class: "btn-rela btn-unfollow btn blue lighten-3" %>
      <% end %>
    <% else %>
      <%# フォロー %>
      <%= form_for(current_user.active_relationships.build, remote: true) do |f| %>
        <div><%= hidden_field_tag :followed_id, user.id %></div>
        <%= f.submit "フォローする", class: "btn-rela btn-follow btn grey lighten-1" %>
      <% end %>
    <% end %>
  </div>
<% end %>
