<%
=begin%>
 <% provide(:title, "編集する") %>
<h4 class="text-center">プロフィールを編集</h4>

<div class="row d-flex flex-column align-items-center mt-3">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@user) do |f| %>
      <%= render 'shared/error_messages' %>

      <div>
        <% if current_user.avatar? %>
          <%= image_tag current_user.avatar.url, size: "160x160", class: "rounded-circle mb-3", alt: "avatar image" %>
        <% else %>
          <%= image_tag 'no_avatar.png', size: "160x160", class: "rounded-circle mb-3", alt: "avatar image" %>
        <% end %>
        <div class="d-flex justify-content-center">
          <label for="user_avatar", class="btn btn-outline-dark">
            <h6 class="text-center">プロフィール画像を変更</h6>
            <%= f.file_field :avatar, id: "user_avatar", class: "d-none" %>
          </label>
        </div>
      </div>

      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control mb-3' %>

      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control mb-3' %>

      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-control mb-3' %>

      <%= f.label :password_confirmation, "パスワード確認" %>
      <%= f.password_field :password_confirmation, class: 'form-control' %>

      <%= f.submit "更新する", class: "btn btn-edit btn-outline-dark mt-4" %>
    <% end %>
  </div>
</div> 
<%
=end%>
