<% provide(:title, "編集する") %>
<h1 class="text-center">ユーザー情報を編集する</h1>

<div class="row d-flex flex-column align-items-center">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@user) do |f| %>
      <%= render 'shared/error_messages' %>

      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control w-50 ' %>

      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control w-50' %>

      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-control w-50' %>

      <%= f.label :password_confirmation, "Confirmation" %>
      <%= f.password_field :password_confirmation, class: 'form-control w-50' %>

      <%= f.submit "更新する", class: "btn btn-edit btn-outline-dark" %>
    <% end %>
  </div>
</div>
