<div class="container">
  <div class="mx-auto mt-3 mb-4">
    <%= search_form_for(@q, url: search_users_path)  do |f| %>
      <div class="d-flex">
        <div class="input-field col-md-10">
          <%= f.label :name_cont, class: "pl-5" do %>
            ユーザーを検索
          <% end %>
          <%= f.search_field :name_cont %>
        </div>
        <div class="ml-auto mt-3">
          <%= f.submit "検索", class: "btn black" %>
        </div>
      </div>
    <% end %>
  </div>
</div>

<div class="col-md-5 mx-auto">
  <% if @users.any? %>
    <%= render partial: 'users/search_results' , collection: @users, as: "user" %>
  <% end %>
</div>
<div class="container">
  <%= paginate @users %></div>
