<div class="container mb-4">
  <div class="d-flex flex-row">
    <div class="flex-fill">
      <%= search_form_for(@q, url: search_users_path)  do |f| %>
        <%= f.search_field :name_cont, class: "search-form form-control rounded-sm pl-4", placeholder: "ユーザーを検索..." %>
      <% end %>
    </div>
    <div class="ml-4">
      <%= link_to search_microposts_path, class: "btn btn-outline-secondary w-100 search-from-u text-decoration-none" do %>
        投稿を検索
      <% end %>
    </div>
  </div>
</div>

<div class="container">
  <% if @users.any? %>
    <ul class="users-index">
      <%= render 'users/index_users' %>
    </ul>
  <% end %>
</div>
<div class="mt-2 ml-5"><%= paginate @users %></div>
