<% provide(:title, @user.name) %>

<div class="container">
  <div class="row mx-auto text-center">
    <div class="profile d-flex justify-content-center col-12 mt-3 mb-5">
      <h6>
        <% if @user.avatar? %>
          <%= image_tag @user.avatar.url, size: "100x100", class: "rounded-circle mb-3", alt: "avatar image" %>
        <% else %>
          <%= image_tag 'no_avatar.png', size: "100x100", class: "rounded-circle mb-3", alt: "avatar image" %>
        <% end %>
        <div class="d-flex flex-row text-center mt-2">
          <div><span class="pt-2 mr-4 user-show"><%= @user.name %></span></div>
          <div>
            <% if current_user.id == @user.id %>
              <%= link_to edit_user_registration_path(@user), class: "btn btn-edit btn-outline-dark rounded-0 ml-2" do %>
                プロフィールを編集
              <% end %>
            <% end %>
          </div>
          <div><%= render 'follow_btn' %></div>
          <% if current_user.admin? %>
            <div class="ml-2">
              <%= link_to "削除する", @user, method: :delete, data: { confirm: "削除してよろしいですか?" }, class: "btn admin-delete btn-outline-danger rounded-0" %>
            </div>
          <% end %>
        </div>
        <div class="mt-3">
          <%= render 'relationships' %>
        </div>
      </h6>
    </div>
  </div>
</div>

<!-- タブ部分 -->
<div class="row text-center">
  <ul class="nav nav-tabs no-gutters mx-auto mb-2" id="pills-tab" role="tablist">
    <li class="nav-item" role="presentation">
      <a href="#item1" id="posts-tab" class="nav-link user-tabs active" role="tab" data-toggle="tab" aria-controls="item1" aria-selected="true">投稿</a>
    </li>
    <li class="nav-item" role="presentation">
      <a href="#item2" id="likes-tab" class="nav-link user-tabs" role="tab" data-toggle="tab" aria-controls="item2" aria-selected="false">いいね</a>
    </li>
  </ul>
</div>

  <!-- パネル部分 -->
  <div class="tab-content tab-post" id ="pills-tabContent">
    <div id="item1" class="tab-pane active" role="tabpanel" aria-labelledby="posts-tab">
      <% if @microposts.any? %>
        <div class="row">
          <% @microposts.each do |micropost| %>
            <div class="col-md-4">
              <div class="card shadow-sm mb-2">
                <% if micropost.image.url %>
                  <%= link_to image_tag(micropost.image.to_s, class: "card-img-top stretched-link", alt: "投稿画像"), micropost %>
                <% end %>
                <div class="card-body">
                  <div class="post-user">
                    <% if micropost.user.avatar? %>
                      <%= link_to image_tag(micropost.user.avatar.to_s, size: "40x40", class: "post-avatar rounded-circle mb-3", alt: "avatar image"), micropost.user %>
                    <% else %>
                      <%= link_to image_tag('no_avatar.png', size: "40x40", class: "post-avatar rounded-circle mb-3", alt: "avatar image"), micropost.user %>
                    <% end %>
                    <%= link_to micropost.user.name, micropost.user, class: "post-avatar post-name text-dark" %>
                    <% if micropost.address %>
                      <small class="post-address ml-2"><%= micropost.address %></small>
                    <% end %>
                    <% if micropost.arrived_at == "昼" %>
                      <span style="color: Tomato">
                        <i class="fas fa-sun arrived-icon"></i>
                      </span>
                    <% elsif micropost.arrived_at == "夜" %>
                      <span style="color: Darkblue">
                        <i class="fas fa-moon arrived-icon"></i>
                      <span>
                    <% else %>
                      <div></div>
                    <% end %>
                  </div>
                  <div class="post-content ml-2 mt-1">
                    <%= micropost.content %>
                  </div>
                  <div class="mt-2 ml-2 mb-3">
                    <%= render 'microposts/tag_list', tag_list: micropost.tag_list %>
                  </div>
                  <div class="post-info ml-2">
                    <small class="text-muted">
                      <% if current_user.like?(micropost) %>
                        <i class="fas fa-heart fa-lg liked-heart"></i>
                      <% else %>
                        <i class="fas fa-heart fa-lg muted-heart"></i>
                      <% end %>
                      <%= micropost.liked_users.count %>
                    </small>
                    <small class="comment-info ml-3 text-muted">
                      <i class="fas fa-comment-alt fa-lg commented-user"></i>
                        <%= micropost.commented_users.count %>
                    </small>
                    <small class="text-muted float-right"><%= micropost.created_at.strftime('%m/%d %H:%M') %></small>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      <% else %>
        <div class="no-userpost-info">
          <div class="text-center font-weight-bold mt-3 mb-2">投稿がありません</div>
          <div class="text-center text-muted">投稿するとここに表示されます</div>
        </div>
      <% end %>
    </div>
    <%# いいね済みの投稿 %>
    <div id="item2" class="tab-pane" role="tabpanel" aria-labelledby="likes-tab">
      <% if current_user.liked_posts.any? %>
        <div class="row">
          <% current_user.liked_posts.each do |micropost| %>
            <div class="col-md-6 col-lg-4">
              <div class="card shadow-sm mb-2">
                <%= link_to image_tag(micropost.image.to_s, class: "card-img-top", alt: "投稿画像"), micropost %>
              </div>
            </div>
          <% end %>
        </div>
      <% else %>
        <div class="text-center font-weight-bold">
          まだいいねがありません
        </div>
        <div class="text-muted text-center">
          投稿をいいねするとここに表示されます
        </div>
      <% end %>
    </div>
  </div>

