<% provide(:title, @user.name) %>

<div class="row">
  <aside class="col-md-4">
    <div class="profile">
      <h6>
        <%= gravatar_for @user %>
        <div class="float-center">
          <span><%= @user.name %></span>
          <%= link_to edit_user_path(@user) do %>
            <i class="fas fa-user-edit"></i>
          <% end %>
        </div>
      </h6>
    </div>
    <div>
      <% @user.liked_posts.each do |micropost| %>
        <%= micropost.user.name %>
        <%= micropost.content %>
      <% end %>
    </div>
  </aside>
</div>
<div class="col-md-8">
  <% if @user.microposts.any? %>
    <h5>投稿</h5>
      <ol class="microposts">
        <%= render @microposts %>
      </ol>
      <%= paginate @microposts %>
  <% end %>
</div>
