<% provide(:title, @user.name) %>

<div class="container">
  <div class="row mx-auto text-center">
    <div class="profile d-flex justify-content-center col-12 mt-3 mb-5">
      <h6>
        <% if @user.avatar? %>
          <%= image_tag @user.avatar.url, size: "100x100", class: "rounded-circle mb-3", alt: "avatar image" %>
        <% else %>
          <%= image_tag 'no_avatar.png', size: "100x100", class: "rounded-circle mb-3", alt: "avatar image" %>
        <% end %>
        <div class="d-flex flex-row text-center mt-2">
          <div><span class="pt-2 mr-4 user-show"><%= @user.name %></span></div>
          <% if user_signed_in? %>
            <div>
              <% if current_user.id == @user.id %>
                <%= link_to edit_user_registration_path(@user), class: "btn grey darken-4 ml-2" do %>
                  プロフィールを編集
                <% end %>
              <% end %>
            </div>
            <%= render 'follow_btn', user: @user %>
            <% if current_user.admin? %>
              <div class="ml-2">
                <%= link_to "削除する", @user, method: :delete, data: { confirm: "削除してよろしいですか?" }, class: "btn admin-delete red darken-1" %>
              </div>
            <% end %>
          <% end %>
        </div>
        <div class="mt-3">
          <%= render 'relationships' %>
        </div>
      </h6>
    </div>
  </div>
</div>

<!-- タブ部分 -->
<div class="row text-center">
  <ul class="nav nav-tabs no-gutters mx-auto mb-2" id="pills-tab" role="tablist">
    <li class="nav-item" role="presentation">
      <a href="#item1" id="posts-tab" class="nav-link user-tabs active" role="tab" data-toggle="tab" aria-controls="item1" aria-selected="true">投稿</a>
    </li>
    <li class="nav-item" role="presentation">
      <a href="#item3" id="chefs-tab" class="nav-link user-tabs" role="tab" data-toggle="tab" aria-controls="item3" aria-selected="false">お知らせ</a>
    </li>
    <li class="nav-item" role="presentation">
      <a href="#item2" id="likes-tab" class="nav-link user-tabs" role="tab" data-toggle="tab" aria-controls="item2" aria-selected="false">いいね</a>
    </li>
  </ul>
</div>

  <!-- パネル部分 -->
  <div class="tab-content tab-post" id ="pills-tabContent">
    <div id="item1" class="tab-pane active" role="tabpanel" aria-labelledby="posts-tab">
      <% if @microposts.any? %>
        <div class="row">
          <% @microposts.each do |micropost| %>
            <div class="card-group col-md-4">
              <div class="card hoverable mb-2">
                <% if micropost.image.url %>
                  <%= link_to image_tag(micropost.image.to_s, class: "card-img-top stretched-link", alt: "投稿画像"), micropost %>
                <% end %>
                <div class="card-body">
                  <div class="post-user">
                    <% if micropost.user.avatar? %>
                      <%= link_to image_tag(micropost.user.avatar.to_s, size: "40x40", class: "post-avatar rounded-circle mb-3", alt: "avatar image"), micropost.user %>
                    <% else %>
                      <%= link_to image_tag('no_avatar.png', size: "40x40", class: "post-avatar rounded-circle mb-3", alt: "avatar image"), micropost.user %>
                    <% end %>
                    <%= link_to micropost.user.name, micropost.user, class: "post-avatar post-name text-dark" %>
                    <% if micropost.address %>
                      <small class="post-address ml-2"><%= micropost.address %></small>
                    <% end %>
                    <% if micropost.arrived_at == 'day' %>
                      <i class="material-icons arrived-at-icon orange-text text-darken-3">brightness_5</i>
                    <% elsif micropost.arrived_at == 'night' %>
                      <i class="material-icons arrived-at-icon blue-text text-darken-4">brightness_3</i>
                    <% else %>
                      <div></div>
                    <% end %>
                  </div>
                  <div class="post-content ml-2 mt-1">
                    <%= micropost.content %>
                  </div>
                  <div class="mt-2 ml-2 mb-3">
                    <%= render 'microposts/tag_list', tag_list: micropost.tag_list %>
                  </div>
                  <div class="post-info ml-1 d-flex">
                    <div id="micropost-<%= micropost.id %>">
                      <%= render "likes/like", micropost: micropost %>
                    </div>
                    <div class="comment-info ml-3 text-muted">
                      <i class="material-icons gray-text text-darken-2">chat_bubble_outline</i>
                      <%= micropost.commented_users.count %>
                    </div>
                    <div class="ml-auto"><small class="text-muted float-right"><%= micropost.created_at.strftime('%m/%d %H:%M') %></small></div>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      <% else %>
        <div class="no-userpost-info">
          <div class="text-center font-weight-bold mt-3 mb-2">投稿がありません</div>
          <div class="text-center text-muted">投稿するとここに表示されます</div>
        </div>
      <% end %>
    </div>
    <%# お店のお知らせ %>
    <div id="item3" class="tab-pane" role="tabpanel" aria-labelledby="chefs-tab">
      <% if @chefs.any? %>
        <div class="row">
          <% @chefs.each do |chef| %>
            <div class="card-group col-md-4">
              <div class="card hoverable mb-2">
                <% if chef.image.url %>
                  <%= link_to image_tag(chef.image.to_s, class: "card-img-top stretched-link", alt: "投稿画像"), chef %>
                <% end %>
                <div class="card-body">
                  <div class="post-user">
                    <% if chef.user.avatar? %>
                      <%= link_to image_tag(chef.user.avatar.to_s, size: "40x40", class: "post-avatar rounded-circle mb-3", alt: "avatar image"), chef.user %>
                    <% else %>
                      <%= link_to image_tag('no_avatar.png', size: "40x40", class: "post-avatar rounded-circle mb-3", alt: "avatar image"), chef.user %>
                    <% end %>
                    <%= link_to chef.user.name, chef.user, class: "post-avatar post-name text-dark" %>
                    <% if chef.address %>
                      <small class="post-address ml-2"><%= chef.address %></small>
                    <% end %>
                  </div>
                  <div class="post-content ml-2 mt-1">
                    <%= chef.comment %>
                  </div>
                  <div class="mt-2 ml-2 mb-3">
                    <%= render 'microposts/tag_list', tag_list: chef.tag_list %>
                  </div>
                  <div class="d-flex ml-1">
                    <div id="chefB-<%= chef.id %>">
                      <%= render "marks/mark", chef: chef %>
                    </div>
                    <div class="ml-auto"><small class="text-muted float-right"><%= chef.created_at.strftime('%m/%d %H:%M') %></small></div>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      <% else %>
        <div class="no-userpost-info">
          <div class="text-center font-weight-bold mt-3 mb-2">お店のお知らせは投稿していません</div>
          <div class="text-center text-muted">投稿するとここに表示されます</div>
        </div>
      <% end %>
    </div>
    <%# いいね済みの投稿 %>
    <div id="item2" class="tab-pane" role="tabpanel" aria-labelledby="likes-tab">
      <% if @user.liked_posts.any? %>
        <div class="row">
          <% @user.liked_posts.each do |micropost| %>
            <div class="card-group col-md-6 col-lg-4">
              <div class="card hoverable mb-2">
                <%= link_to image_tag(micropost.image.to_s, class: "card-img-top", alt: "投稿画像"), micropost %>
              </div>
            </div>
          <% end %>
        </div>
      <% else %>
        <div class="no-userpost-info">
          <div class="text-center font-weight-bold">まだいいねがありません</div>
          <div class="text-muted text-center">投稿をいいねするとここに表示されます</div>
        </div>
      <% end %>
    </div>
  </div>

