<% if current_user.bookmarked_posts.any? %>
  <div class="row">
    <% current_user.bookmarked_posts.each do |micropost| %>
      <div class="col-md-5">
        <div class="card mb-2">
          <%= link_to image_tag(micropost.image.to_s, class: "card-img-top", alt: "投稿画像"), micropost %>
          <div class="card-body">
            <div class="post-user">
              <% if micropost.user.avatar? %>
                <%= link_to image_tag(micropost.user.avatar.to_s, size: "40x40", class: "post-avatar rounded-circle mb-3", alt: "avatar image"), micropost.user %>
              <% else %>
                <%= link_to image_tag('no_avatar.png', size: "40x40", class: "post-avatar rounded-circle mb-3", alt: "avatar image"), micropost.user %>
              <% end %>
              <%= link_to micropost.user.name, micropost.user, class: "post-avatar post-name text-dark" %>
              <% if micropost.address %>
                <small class="post-address ml-2"><%= micropost.address %></small>
              <% end %>
              <% if micropost.arrived_at == "昼" %>
                <span style="color: Tomato">
                  <i class="fas fa-sun arrived-icon"></i>
                </span>
              <% elsif micropost.arrived_at == "夜" %>
                <span style="color: Darkblue">
                  <i class="fas fa-moon arrived-icon"></i>
                <span>
              <% else %>
                <div></div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
<% else %>
  <div class="text-center font-weight-bold">
    まだブックマークがありません
  </div>
  <div class="text-muted text-center">
    投稿をブックマークするとここに表示されます
  </div>
<% end %>


