
  <div>
    <% @microposts.each do |micropost| %>
        <%= micropost.content %>
        <%= micropost.restaurant %>
        <% if @micropost.image.url %>
          <%= micropost.image.url %>
        <% end %>
        <%= link_to 'Show', micropost %>
        <%= link_to 'Destroy', micropost, method: :delete, data: { confirm: 'Are you sure?' } %>
    <% end %>
  </div>
<%= paginate @microposts %>

<br>
