<nav class="navbar mb-4">
  <div class="container">
    <%=link_to "Contrail", root_path, class: "navbar-brand mr-auto" %>

    <%= link_to search_microposts_path do %>
      <i class="fas fa-search head-search fa-lg mr-4"></i>
    <% end %>

    <%= link_to bookmarks_path, class: "bookmark" do %>
      <i class="fas fa-bookmark head-bookmark fa-lg mr-4"></i>
    <% end %>

    <div class="dropdown">
      <button class="btn btn-dark btn-sm dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="head-menu">menu</span>
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <% if user_signed_in? %>
          <div class="d-flex flex-row">
            <% if current_user.avatar? %>
              <div><%= link_to image_tag(current_user.avatar.mini.url, class: "ml-3 mt-2 rounded-circle", alt: "avatar image"), user_path(current_user) %></div>
            <% else %>
              <div><%= link_to image_tag('no_avatar.png', size: "30x30", class: "ml-3 mt-2 rounded-circle", alt: "avatar image"), user_path(current_user) %></div>
            <% end %>
            <div>
              <%= link_to user_path(current_user), class: "pl-1 dropdown-item" do %>
                <span class="head-user"><%= current_user.name %></span>
              <% end %>
            </div>
          </div>
          <%= link_to search_users_path, class: "dropdown-item" do %>
            <i class="fas fa-search nav-items"></i> ユーザー検索
          <% end %>
          <div class="dropdown-divider"></div>
          <%= link_to sign_out_path, method: :delete, class: "head-logout dropdown-item text-decoration-none" do %>
            <span><i class="fas fa-power-off nav-items"></i> ログアウト</span>
          <% end %>
        <% else %>
            <%= link_to users_guest_sign_in_path, method: :post, class: "dropdown-item text-decoration-none" do %>
              <i class="fas fa-sign-in-alt nav-items"></i> ゲストログイン
            <% end %>
            <%= link_to sign_in_path, class: "dropdown-item not-signedin-item text-decoration-none" do %>
              <i class="fas fa-sign-in-alt nav-items"></i> ログイン
            <% end %>
          </li>
        <% end %>
      </div>
    </div>
  </div>
</nav>
