<ul id="dropdown1" class="dropdown-content">
  <% if user_signed_in? %>
    <li>
      <%= link_to user_path(current_user), class: "black-text text-decoration-none" do %>
        <i class="material-icons">perm_identity</i>マイページ
      <% end %>
    </li>
    <li>
      <%= link_to bookmarks_path, class: "black-text text-decoration-none" do %>
        <i class="material-icons">bookmark_border</i>ブックマーク
      <% end %>
    </li>
    <li>
      <%= link_to search_users_path, class: "black-text text-decoration-none" do %>
        <i class="material-icons">people</i>ユーザー検索
      <% end %>
    </li>
    <li class="divider"></li>
    <li>
      <%= link_to sign_out_path, method: :delete, class: "grey-text text-darken-1 text-decoration-none" do %>
        <i class="material-icons">power_settings_new</i>ログアウト
      <% end %>
    </li>
  <% else %>
    <li>
      <%= link_to "ゲストログイン", users_guest_sign_in_path, method: :post, class: "guest-login black-text text-decoration-none", onclick: "M.toast({html: 'こんにちはゲストさん'}, {displayLength: 10000})" %>
    </li>
    <li>
      <%= link_to "ログイン", sign_in_path, class: "user-login black-text text-decoration-none" %>
    </li>
  <% end %>
</ul>
<nav class="white z-depth-0">
  <div class="nav-wrapper">
    <%=link_to "Contrail", root_path, class: "brand-logo black-text text-decoration-none ml-2" %>
    <a href="#" data-target="mobile-demo" class="sidenav-trigger text-decoration-none"><i class="material-icons black-text">menu</i></a>
    <ul class="right hide-on-med-and-down">
      <li>
        <%= link_to chefs_path, class: "font black-text text-decoration-none" do %>
          <i class="material-icons tooltipped" data-position="bottom" data-tooltip="お店のお知らせ">restaurant</i>
        <% end %>
      </li>
      <li>
        <%= link_to search_microposts_path, class: "font black-text text-decoration-none" do %>
          <i class="material-icons">search</i>
        <% end %>
      </li>
      <!-- Dropdown Trigger -->
      <li>
        <a class="dropdown-trigger" data-target="dropdown1">
          <% if user_signed_in? %>
            <% if current_user.avatar? %>
              <span class="head-menu"><%= image_tag current_user.avatar.mini.url, class: "rounded-circle", alt: "avatar" %></span>
            <% else %>
              <span class="head-menu"><%= image_tag 'no_avatar.png', size: "30x30", class: "rounded-circle", alt: "avatar" %></span>
            <% end %>
            <i class="material-icons right black-text">arrow_drop_down</i>
          <% else %>
            <i class="material-icons right black-text">menu</i>
          <% end %>
        </a>
      </li>
    </ul>
  </div>
</nav>

<ul class="sidenav" id="mobile-demo">
  <% if user_signed_in? %>
    <li>
      <%= link_to user_path(current_user), class: "black-text text-decoration-none" do %>
        <i class="material-icons">perm_identity</i> マイページ
      <% end %>
    </li>
    <li>
      <%= link_to bookmarks_path, class: "black-text text-decoration-none" do %>
        <i class="material-icons">bookmark_border</i>ブックマーク
      <% end %>
    </li>
    <li>
      <%= link_to chefs_path, class: "font black-text text-decoration-none" do %>
        <i class="material-icons">restaurant</i>お店のお知らせ
      <% end %>
    </li>
    <li>
      <%= link_to search_microposts_path, class: "font black-text text-decoration-none" do %>
        <i class="material-icons">search</i>投稿検索
      <% end %>
    </li>
    <li>
      <%= link_to search_users_path, class: "black-text text-decoration-none" do %>
        <i class="material-icons">people</i>ユーザー検索
      <% end %>
    </li>
    <li class="divider"></li>
    <li>
      <%= link_to sign_out_path, method: :delete, class: "grey-text text-decoration-none" do %>
        <i class="material-icons">power_settings_new</i>ログアウト
      <% end %>
    </li>
  <% else %>
    <li>
      <%= link_to chefs_path, class: "font black-text text-decoration-none" do %>
        <i class="material-icons">restaurant</i>お店のお知らせ
      <% end %>
    </li>
    <li>
      <%= link_to search_microposts_path, class: "font black-text text-decoration-none" do %>
        <i class="material-icons">search</i>投稿検索
      <% end %>
    </li>
    <li class="divider"></li>
      <li>
      <%= link_to "ゲストログイン", users_guest_sign_in_path, method: :post, class: "black-text text-decoration-none" %>
    </li>
    <li>
      <%= link_to "ログイン", sign_in_path, class: "black-text text-decoration-none" %>
    </li>
  <% end %>
</ul>
