<%= form_with model: @micropost do |f| %>
    <div class="field d-flex">

      <%= f.label :image do %>
      <% end %>
      <%= f.file_field :image, class: "form-image", id: "image" %>
      <div id="img_field" onClick="$('#image').click()">
        <% if object.image.url.present? %>
          <%= image_tag(object.image.url) %>
        <% else %>
          <i class="far fa-image ml-1"></i>
        <% end %>
      </div>
    </div>

  <div class="field mt-4">
    <%= f.label :arrived_at, "利用時間帯" %>
      <div class="mt-1">
        <%= f.radio_button(:arrived_at, :未選択) %>
        <%= label_tag(:arrived_at, "未選択", class: "mr-4") %>

        <%= f.radio_button(:arrived_at, :昼) %>
        <%= label_tag(:arrived_at, "昼", class: "fas fa-sun mr-4") %>

        <%= f.radio_button(:arrived_at, :夜) %>
        <%= label_tag(:arrived_at, "夜", class: "fas fa-moon") %>
      </div>
  </div>

  <div class="field mt-4">
    <%= f.label :budget do %>
      予算 <span class="post-required">(必須)</span>
    <% end %>
    <%= f.select :budget, [['〜¥999', 1],
                          ['¥1,000〜¥1,999', 2],
                          ['¥2,000〜¥2,999', 3],
                          ['¥3,000〜¥3,999', 4],
                          ['¥4,000〜¥4,999', 5],
                          ['¥5,000〜¥5,999', 6],
                          ['¥6,000〜¥6,999', 7],
                          ['¥7,000〜¥7,999', 8],
                          ['¥8,000〜¥8,999', 9],
                          ['¥9,000〜¥9,999', 10],
                          ['¥10,000〜¥19,999', 11],
                          ['¥20,000〜¥29,999', 12],
                          ['¥30,000〜', 13]], { prompt: "選択してください" }, { class: "form-control rounded-0" } %>
  </div>

  <div class="field mt-4">
    <%= f.label :address do %>
      店舗名 <span class="post-required">(必須)</span>
    <% end %>
    <%= f.text_field :address, class: "form-control rounded-0", required: true %>
  </div>

  <div class="field mt-4">
    <%= f.label :content do %>
      コメント <span class="post-required">(必須)</span>
    <% end %>
    <%= f.text_area :content, class: "form-control rounded-0 form-content", placeholder: "(150字以内)", required: true %>
  </div>

  <div class="field my-4">
    <%= f.label :tag_list do %>
      タグを追加
    <% end %>
    <%= f.text_field :tag_list, value: object.tag_list.join(','), class: "form-control rounded-0", placeholder: "(例: タグ1,タグ2)" %>
  </div>

  <div class="d-flex flex-row">
    <%= f.submit "投稿する", { class: "btn rounded-0 ml-auto mt-2 mr-1 btn-micropost" } %>
  </div>
<% end %>

<%= render 'microposts/image_review' %>
