  <div class="card mb-2">
    <% if object.image.url %>
      <%= image_tag object.image.url, class: "card-img-top", alt: "投稿画像" %>
    <% end %>

    <div class="card-body">
      <div class="post-user mr-auto">
        <% if object.user.avatar? %>
          <%= link_to image_tag(object.user.avatar.to_s, size: "40x40", class: "post-avatar rounded-circle mb-3", alt: "avatar image"), object.user %>
        <% else %>
          <%= link_to image_tag('no_avatar.png', size: "40x40", class: "post-avatar rounded-circle mb-3", alt: "avatar image"), object.user %>
        <% end %>

        <%= link_to object.user.name, object.user, class: "text-secondary" %>
        <% if object.restaurant %>
          <small class="text-muted ml-2"><%= object.restaurant %></small>
        <% end %>

        <% if object.arrived_at == "昼" %>
          <span style="color: Tomato">
            <i class="fas fa-sun fa-lg arrived-icon"></i>
          </span>
        <% elsif object.arrived_at == "夜" %>
          <span style="color: Darkblue">
            <i class="fas fa-moon fa-lg arrived-icon"></i>
          <span>
        <% else %>
        <% end %>
      </div>

      <div class="post-content mt-1 ml-2 mb-5">
        <%= object.content %>
      </div>

      <div class="post-info d-flex flex-row">
        <div class="mr-2"><%= render "likes/like", micropost: @micropost %></div>
        <div><%= render "bookmarks/bookmark", micropost: @micropost %></div>
        <% if current_user.id == object.user.id %>
          <div class="dropleft ml-auto">
            <button type="button" class="btn dropdown-toggle btn-toggle" id="dropdownMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="box-shadow: none">
              <i class="fas fa-ellipsis-h fa-lg ellipsis"></i>
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenu">
              <%= link_to '削除', micropost_path(object), method: :delete, data: { confirm: '削除してよろしいですか?' }, class: "dropdown-item" %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <div class="container">
      <%= render 'comments/form', micropost: object, group: @comments %>
  </div>
