  <div class="card mb-2">
    <% if object.image.url %>
      <%= image_tag object.image.url, class: "card-img-top", alt: "投稿画像" %>
    <% end %>

    <div class="card-body">
      <div class="post-user mr-auto">
        <% if object.user.avatar? %>
          <%= link_to image_tag(object.user.avatar.to_s, size: "40x40", class: "post-avatar rounded-circle mb-3", alt: "avatar image"), object.user %>
        <% else %>
          <%= link_to image_tag('no_avatar.png', size: "40x40", class: "post-avatar rounded-circle mb-3", alt: "avatar image"), object.user %>
        <% end %>

        <%= link_to object.user.name, object.user, class: "text-dark post-name" %>
        <% if object.address %>
          <small class="text-muted ml-2"><%= object.address %></small>
        <% end %>

        <% if object.arrived_at == "昼" %>
          <span style="color: Tomato">
            <i class="fas fa-sun arrived-icon"></i>
          </span>
        <% elsif object.arrived_at == "夜" %>
          <span style="color: Darkblue">
            <i class="fas fa-moon arrived-icon"></i>
          <span>
        <% else %>
        <% end %>
      </div>

      <div class="post-content mt-1 ml-2 mb-5">
        <%= object.content %>
      </div>

      <div class="post-info d-flex flex-row">
        <div id="micropost-<%= object.id %>">
          <%= render "likes/like", micropost: @micropost %>
        </div>
        <div class="ml-4" id="micropostB-<%= object.id %>">
          <%= render "bookmarks/bookmark", micropost: @micropost %>
        </div>
        <% if current_user.id == object.user.id %>
          <div class="ml-auto"><%= link_to '削除', micropost_path(object), method: :delete, data: { confirm: '削除してよろしいですか？' }, class: "btn btn-sm rounded-sm btn-outline-dark" %></div>
        <% end %>
      </div>
    </div>
  </div>

  <div class="container" id="comment">
      <%= render 'comments/form', micropost: object, group: @comments %>
  </div>

  <div class="mt-5">
    <% if user_signed_in? %>
      <%= render 'microposts/show_map' %>
    <% end %>
  </div>
