<% provide(:title, "フィード") %>

<div class="card-group">
    <div class="card">
      <% @microposts.each do |micropost| %>
          <% if micropost.image.url %>
            <%= image_tag micropost.image.to_s, class: "card-img-top" %>
          <% end %>
        <div class="card-body">
          <p class="card-text">
            <% if micropost.restaurant %>
              <small class="text-muted"><%= micropost.restaurant %></small>
            <% end %>
          </p>
          <p class="card-text">
            <%= micropost.content %>
          </p>
          <p class="card-text">
            <small class="text-muted">
              <%= link_to 'Show', micropost %>
              <%= link_to 'Destroy', micropost, method: :delete, data: { confirm: 'Are you sure?' } %>
              <i class="fas fa-heart fa-fw liked-heart"></i>
              <%= micropost.liked_users.count %><small class="text-muted">いいねの数</small>
            </small>
          </p>
        </div>
      <% end %>
    </div>
  </div>
<%= paginate @microposts %>