<div class="container">
  <%= form_with model: @micropost, local: true do |f| %>
    <%= render 'shared/error_messages', model: f.object %>

    <div class="mt-1 mb-5">
      <%= f.label :image do %>
      <% end %>
      <%= f.file_field :image, accept: "image/jpeg,image/png,image/gif", class: "form-image", id: "image" %>
      <div id="img_field" onClick="$('#image').click()">
        <% if @micropost.image.url.present? %>
          <%= image_tag(@micropost.image.url) %>
        <% else %>
          <i class="material-icons large gray-text text-lighten-1" style="cursor: pointer">library_add</i>
        <% end %>
      </div>
    </div>

    <div class="row">
      <div class="input-field col s12">
        <%= f.select :arrived_at, Micropost.arrived_ats.keys.map {|k| [I18n.t("enums.micropost.arrived_at.#{k}"), k]} %>
        <%= f.label :arrived_at %>
      </div>
      <div class="input-field col s12">
        <%= f.select :budget, Micropost.budgets.keys.map {|k| [I18n.t("enums.micropost.budget.#{k}"), k]} %>
        <%= f.label :budget %>
      </div>
    </div>

    <div class="input-field">
      <%= f.label :address do %>
        店舗名 (必須)
      <% end %>
      <%= f.text_field :address, autocomplete: "off" %>
    </div>

    <div class="input-field">
      <%= f.label :content do %>
        コメント (必須)
      <% end %>
      <%= f.text_area :content, class: "materialize-textarea textarea2", maxlength: "150" %>
    </div>

    <div class="input-field">
      <%= f.label :tag_list do %>
        タグを追加 (カンマ区切りで入力してください)
      <% end %>
      <%= f.text_field :tag_list, value: @micropost.tag_list.join(','), autocomplete: "off" %>
    </div>

    <div class="d-flex flex-row">
      <%= f.submit "投稿する", { class: "btn grey darken-4 post-btn ml-auto"} %>
    </div>
  <% end %>

  <%= render 'microposts/image_review' %>
</div>


