<div class="mb-4">
<form class="mb-2 ml-5">
  <div class="form-row justify-content-center">
      <%= search_form_for(@q, url: search_microposts_path)  do |f| %>
        <div class="form-group search-posts col-md-2 px-0">
          <%= f.search_field :content_cont, class: "search-form form-control rounded-0", placeholder: "コメント内容" %>
        </div>
        <div class="form-group search-posts col-md-2 px-0">
          <%= f.search_field :address_cont, class: "form-control rounded-0", placeholder: "エリア/駅" %>
        </div>
        <div class="form-group search-posts col-md-2 px-0">
          <%= f.select :budget_eq, [['〜¥999', 1],
                          ['¥1,000〜¥1,999', 2],
                          ['¥2,000〜¥2,999', 3],
                          ['¥3,000〜¥3,999', 4],
                          ['¥4,000〜¥4,999', 5],
                          ['¥5,000〜¥5,999', 6],
                          ['¥6,000〜¥6,999', 7],
                          ['¥7,000〜¥7,999', 8],
                          ['¥8,000〜¥8,999', 9],
                          ['¥9,000〜¥9,999', 10],
                          ['¥10,000〜¥19,999', 11],
                          ['¥20,000〜¥29,999', 12],
                          ['¥30,000〜', 13]], { include_blank: "価格帯" }, { class: "form-control rounded-0" } %>
        </div>
        <div class="form-group search-posts col-md-2 px-0">
          <%= f.select :sorts, { 'いいねの多い順': 'likes_count desc' }, { include_blank: "並べ替え" }, { class: "form-control rounded-0" } %>
        </div>
        <div class="form-group col-md-2 pl-0">
          <%= f.submit "検索", class: "btn btn-outline-dark  rounded-0" %>
        </div>
      <% end %>
</div>

<%# <div class="container"> %>
  <% if @microposts.any? %>
    <div class="row search-posts">
      <% @microposts.each do |micropost| %>
        <div class="col-md-6 mx-auto post-cards">
          <div class="card mb-2">
            <% if micropost.image.url %>
              <%= link_to image_tag(micropost.image.to_s, class: "card-img-top stretched-link", alt: "投稿画像"), micropost %>
            <% end %>
            <div class="card-body">
              <div class="post-user">
                <% if micropost.user.avatar? %>
                  <%= link_to image_tag(micropost.user.avatar.to_s, size: "40x40", class: "post-avatar rounded-circle mb-3", alt: "avatar image"), micropost.user %>
                <% else %>
                  <%= link_to image_tag('no_avatar.png', size: "40x40", class: "post-avatar rounded-circle mb-3", alt: "avatar image"), micropost.user %>
                <% end %>
                <%= link_to micropost.user.name, micropost.user, class: "post-avatar post-name text-dark" %>
                <% if micropost.address %>
                  <small class="post-address ml-2"><%= micropost.address %></small>
                <% end %>
                <% if micropost.arrived_at == "昼" %>
                  <span style="color: Tomato">
                    <i class="fas fa-sun arrived-icon"></i>
                  </span>
                <% elsif micropost.arrived_at == "夜" %>
                  <span style="color: Darkblue">
                    <i class="fas fa-moon arrived-icon"></i>
                  <span>
                <% else %>
                  <div></div>
                <% end %>
              </div>
              <div class="post-content ml-2 mt-1 mb-4">
                <%= micropost.content %>
              </div>
              <div class="mt-2 ml-2 mb-3">
                <%= render 'microposts/tag_list', tag_list: micropost.tag_list %>
              </div>
              <div class="post-info ml-2 d-flex">
                <div id="micropost-<%= micropost.id %>">
                    <%= render "likes/like", micropost: micropost %>
                  </div>
                  <div class="comment-info ml-3 text-muted">
                    <i class="fas fa-comment-alt fa-lg  commented-user"></i>
                      <%= micropost.commented_users.count %>
                  </div>
                  <div class="ml-auto"><small class="text-muted float-right"><%= micropost.created_at.strftime('%m/%d %H:%M') %></small></div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <div class="search-next">
      <%= paginate @microposts %>
    </div>
  <% else %>
    <div class="no-content-info mt-5">
      <div class="text-center font-weight-bold">
        検索条件に合う投稿は0件です。
      </div>
      <div class="text-muted text-center">
        検索条件を変更して、再度お試しください。
      </div>
    </div>
  <% end %>
<%# </div> %>
