<div class="container">
  <%= render 'microposts/post_detail', object: @micropost %>
</div>


<%
=begin%>
 
<div class="post-avatar">
  <% if micropost.user.avatar? %>
    <%= link_to image_tag(micropost.user.avatar.to_s, size: "40x40", class: "post-avatar rounded-circle mb-3", alt: "avatar image"), micropost.user %>
  <% else %>
    <%= link_to image_tag('no_avatar.png', size: "40x40", class: "post-avatar rounded-circle mb-3", alt: "avatar image"), micropost.user %>
  <% end %>
</div>
<div class="container">
  <div class="card">
    <% if @micropost.image.url %>
      <%= image_tag @micropost.image.url, class: "card-img-top", alt: "投稿画像" %>
    <% end %>
    <div class="d-flex flex-row card-body">
        <%= render "likes/like", micropost: @micropost %>
        <%= render "bookmarks/bookmark", micropost: @micropost %>
    </div>
  </div>
</div> 
<%
=end%>
