<% provide(:title, @micropost.restaurant) %>
<p id="notice"><%= notice %></p>

<p>
  <% if @micropost.image.url %>
    <%= image_tag @micropost.image.url %>
  <% end %>
</p>

<%= render "likes/like", micropost: @micropost %>
<%= render "bookmarks/bookmark", micropost: @micropost %>

<p>
  <%= @micropost.content %>
</p>

<%= link_to microposts_path do %>
  <i class="fas fa-arrow-left fa-lg"></i>
<% end %>
