<% if current_user.name == 'guest' %>
  <div class="guest-alart">ゲストユーザーはアカウントの編集、削除ができません</div>
<% end %>
<div class="row d-flex flex-column align-items-center mt-3">
  <div class="col-md-6 col-md-offset-3">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>

        <div class="text-center">
          <%= f.label :avatar, class: "user-avatar" do %>
            <%= f.file_field :avatar, class: "avatar-selected"  %>
            <% if current_user.avatar? %>
              <%= f.label :avatar do %>
                <%= image_tag current_user.avatar.url, style: "width: 160px; height: 160px; object-fit: cover; cursor: pointer;", class: "rounded-circle mb-3", alt: "avatar image" %>
              <% end %>
            <% else %>
              <%= f.label :avatar do %>
                <%= image_tag 'no_avatar.png', style: "width: 160px; height: 160px; object-fit: cover; cursor: pointer;", class: "rounded-circle mb-3", alt: "avatar image" %>
              <% end %>
            <% end %>
          <% end %>
        </div>

        <%= f.label :name %>
        <%= f.text_field :name, autocomplete: "name", class: "form-control mb-3" %>

        <%= f.label :email %>
        <%= f.email_field :email, autocomplete: "email", class: "form-control mb-3" %>

        <%= f.label :password, class: "mt-3" %>
        <%= f.password_field :password, autocomplete: "new-password", placeholder: "6文字以上(変更しない場合空欄にする)", class: "form-control" %>

        <%= f.label :password_confirmation, class: "mt-3" %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>

        <%= f.submit "保存" %>

        <%= button_to "アカウントを削除する", registration_path(resource_name), data: { confirm: "アカウントを削除してよろしいですか?" }, method: :delete %></p>
      <% end %>
    <%= link_to "Back", :back %>
</div>
