<% provide(:title, '登録ページ') %>

  <h1 class="h5 mt-3 mb-3 font-weight-bold text-center">会員登録</h1>
    <div class="signin-page mx-auto col-md-8">
      <%= render  "devise/shared/error_messages" %>
      <div class="mt-5">
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <div class="field mb-4">
            <%= f.text_field :name, placeholder: "ユーザー名", autocomplete: "name", required: true, class: "form-control rounded-0 w-100 pl-3" %>
          </div>

          <div class="field mb-4">
            <%= f.email_field :email, placeholder: "メールアドレス", autofocus: true, autocomplete: "email", required: true, class: "form-control rounded-0 w-100 pl-3" %>
          </div>

          <div class="field mb-4">
            <%= f.password_field :password, placeholder: "パスワード(6文字以上)", autocomplete: "new-password", required: true, class: "form-control rounded-0 w-100 pl-3" %>
          </div>

          <div class="field mb-4">
            <%= f.password_field :password_confirmation, placeholder: "パスワード確認", autocomplete: "new-password", required: true, class: "form-control rounded-0 w-100 pl-3" %>
          </div>

          <%= f.submit "登録", class: "btn btn-outline-dark rounded-0 w-100 mt-5" %>
        <% end %>

        <%= link_to "アカウントをお持ちですか？", new_session_path(resource_name), class: 'l-btn btn rounded-0 btn-dark w-100 mt-3' %>
      </div>
    </div>

